<section class="menu-servicos">
  <section class="menu-items">
    <ul class="menu-lista">
      <li class="menu-item" >
        <span class="material-symbols-outlined">
          category
          </span>
          Categorias
      </li>
      <li class="menu-item" >
        <span class="material-symbols-outlined">
          inventory_2
          </span>
          Produtos
      </li>
      <li class="menu-item" >
        <span class="material-symbols-outlined">
          badge
          </span>
          Funcionários
      </li>
    </ul>
  </section>
</section>
